/* --- HEADER IMAGE CSS --- */

.header-image {
   background: url("../../res/images/csu-team.png") center/cover no-repeat;
   margin: auto;
   width: 720px;
   height: 300px;
   margin-bottom: 16px;
}
