/* --- NAVBAR COMPONENT CSS ---  */

/* Styling the elements */
.navbar-element__image,
.navbar-element__link,
.navbar-element__title {
   background-color: var(--primary);
}

/* Styling the links */
.navbar-element__link {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100px;
   height: 100%;
   font-family: "Poppins", sans-serif;
   text-decoration: none;
   background-color: var(--navbar_bg);
   color: var(--navbar_links_clr);
}

.navbar-element__link:hover {
   background: var(--navbar_active_link_bg);
   border-bottom: 6px solid var(--navbar_links_clr);
}

.navbar-element__image {
   background: url("../../res/images/logo-csu.png") center no-repeat;
   background-size: contain;
   width: 55px;
   height: 55px;
   border-radius: 50%;
}
/* The Navbar */
.navbar {
   background-color: var(--navbar_bg);
   display: flex;
   justify-content: space-between;
   padding: 0 12px;
   height: 75px;
}
.navbar-element {
   display: flex;
   align-items: center;
   gap: 16px;
}
.navbar-element:last-of-type {
   gap: 24px;
}
