/* --- NEWS CARD CSS --- */

/* The primary container */
.news-card-container {
   background-color: var(--page_background_accent);
   width: 420px;
   height: 520px;
   display: flex;
   flex-flow: column nowrap;
   transition: all 300ms;
}

/* News card logic */
.news-card-container:hover {
   transform: scale(1.05);
   transition: all 300ms;
}

.news-card-container-clicked {
   position: absolute;
   height: 540px;
   left: 0;
   z-index: 1;
   width: calc(3 * 420px + 40px);
   background-color: var(--page_background_accent);
   display: grid;
   grid-template-columns: 600px repeat(2, 1fr);
   grid-template-rows: repeat(5, 1fr);
   column-gap: 16px;
}

.news-card-container-clicked .news-card__image {
   width: 600px;
   height: 540px;
   grid-row: 1/-1;
}

.news-card-container-clicked .news-card-summary-items {
   grid-column: 2/-1;
   align-items: end;
}
.news-card-container-clicked .news-card-text {
   grid-row: 2/-1;
   grid-column: 2/-1;
   flex: 1;
}
.news-card-container-clicked .news-card-text .news-card__link {
}

/* The news card elements */

.news-card__image {
   background: url("../../res/images/image.jpg") no-repeat center;
   background-size: cover;
   width: 420px;
   height: 364px;
   margin-bottom: 10px;
   box-shadow: 0 5px 10px -1px var(--shadow_color);
}

.news-card-summary-items {
   display: flex;
   gap: 12px;
   padding: 0 4px;
}

.hashtag,
.post-date,
.divider {
   font-size: 11px;
   font-family: "Poppins";
}
.hashtag,
.divider {
   color: var(--hashtag_color);
}
.post-date {
   color: var(--post_date_color);
}

.news-card-text {
   display: flex;
   flex-flow: column nowrap;
}
.news-card-text__title {
   font-family: "Poppins";
   font-size: 18px;
   padding: 0 4px;
}
.news-card-text__headline {
   font-family: "Poppins";
   font-size: 14px;
   padding: 0 4px;
}
.news-card__link {
   text-decoration: none;
   font-family: "Poppins";
   font-size: 11px;
   text-align: center;
   margin-top: 24px;
   padding: 8px;
}
.news-card__link:hover {
   cursor: pointer;
}
