/* --- SPONSOR SIDEBAR CSS --- */

/* The sponsor container */

.sponsor-sidebar-container {
   background-color: var(--page_background_accent);
   height: 75px;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

/* The items */
.sponsor-sidebar__item {
   height: 40px;
   flex: 1;
}
