/* --- SPONSOR SIDEBAR CSS --- */

/* The sponsor container */

.sponsor-sidebar-container {
   background-color: var(--page_background_accent);
   height: 75px;
   display: flex;
   align-items: center;
   justify-content: center;
}

/* The items */
.sponsor-sidebar__item {
   height: 50px;
   width: 125px;
   background-color: var(--primary);
   border-radius: 10px;
   visibility: hidden;
}

.sponsor-sidebar__image {
   background: url("../../res/images/sponsori.jpg") no-repeat center;
   background-size: contain;
   height: 100%;
   flex: 1;
}
